<app-admin-nav></app-admin-nav>

<div class="container">
  <br />
  <br />
  <h4>
    <small>
      <a id="dbLink" routerLink="/admin/dashboard">Dashboard</a>
    </small>
    /
    <small>
      <a id="dbLink" routerLink="/admin/dashboard/menus">Menu</a>
    </small>
    /
    <strong>View Menu</strong>
  </h4>
  <br />
  <h1>A La Carte</h1>
  <img
    src="../../../../../../assets/images/ala.jpg"
    width="1000px"
    height="1000px"
    alt=""
  />
  <br />
  <br />
  <br />
  <h1>Wine/Beverage</h1>
  <img
    src="../../../../../../assets/images/wine.jpg"
    width="1000px"
    height="1000px"
    alt=""
  />
  <br />
  <br />
  <br />
  <h1>Dessert Menu</h1>
  <img
    src="../../../../../../assets/images/dessert.jpg"
    width="1000px"
    height="1000px"
    alt=""
  />
</div>
<app-footer></app-footer>
