.contact {
  padding: 4%;
  height: 600px;
}
.col-md-3 {
  background: #25274d;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info {
  margin-top: 10%;
}

.form-control {
  border: 1px solid transparent;
  border-radius: 15px;
}
.contact-info img {
  margin-bottom: 15%;
}

.col-md-4 {
  background: #e7eaf6;
  padding: 3%;
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

.con {
  background-color: #25274d;
  border-radius: 20px;
}

.contact-form label {
  font-weight: 600;
}
.contact-form button {
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 30%;
}
.contact-form button:focus {
  box-shadow: none;
}

h2,
h4,
h1 {
  color: #fff;
}

.icons {
  height: 30px;
  width: 30px;
}

.details {
  color: white;
}

#contactBtn {
  width: 120px;
}
