<app-header></app-header>
<section id="team" class="pb-5">
  <div class="container" data-aos="fade-left">
    <h5 class="section-title h1">Edit Profile</h5>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">

            <img src="../../../../../../assets/images/person_3.jpg" class="avatar img-circle img-thumbnail"
              alt="avatar" />
            <h6>Upload New Photo</h6>
            <input type="file" class="text-center center-block file-upload" />
            <form (ngSubmit)="onSave()">
              <div class="form-group">
                <br />
                <label>First Name <strong class="req">*</strong> </label>
                <input [(ngModel)]="details.FName" type="text" class="form-control" placeholder="Enter firstname"
                  value="Ravi" required />
              </div>
              <div class="form-group">
                <label>Last Name <strong class="req">*</strong></label>
                <input [(ngModel)]="details.LName" type="text" class="form-control" placeholder="Enter lastname"
                  value="Edmond" required />
              </div>
              <div class="form-group">
                <label>Email <strong class="req">*</strong></label>
                <input [(ngModel)]="details.email" type="email" class="form-control" placeholder="Enter email"
                  value="ravi@gmail.com" required />
              </div>

              <div class="form-group">
                <label>Mobile Number <strong class="req">*</strong></label>
                <input [(ngModel)]="details.mobile" type="number" class="form-control" placeholder="Enter mobile number"
                  value="94765502873" required />
              </div>
              <button type="submit" class="btn btn-dark">
                Save Details
              </button>
            </form>
          </div>
        </div>
      </div>
      &nbsp;&nbsp;
      <div class="col-md-4">
        <img src="../../../../../../assets/images/update.svg" width="520px" height="720px" alt="" />
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>