.r{
  float: left;
  margin: 34px;
  /* background-color: beige; */
  padding: 10px;
  width: 380px;
}

.photo{
  height: 233px;
  width: 364px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.seeMore{
  padding: 4px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.seeMore:hover {
  background-color: #4CAF50;
  color: white;
}


.title{
  text-align: center;
}

/* [1] The container */
.img-hover-zoom {
  height: 233px;
  width: 364px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
}

/* Zoom-n-rotate Container */
.img-hover-zoom--zoom-n-rotate img {
  transition: transform .5s ease-in-out;
}

/* The Transformation */
.img-hover-zoom--zoom-n-rotate:hover img {
  transform: scale(2) rotate(25deg);
}
