<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h4 class="title">{{ footer.title }}</h4>
        <address>
          {{ footer.address }}
        </address>
        <app-sociel></app-sociel>
      </div>
      <div class="col-md-9 text-right">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.77166581886!2d79.84628831427707!3d6.9178789950015664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae25940ed9b9633%3A0xb0658168859e3c0e!2sCinnamon+Grand+Colombo!5e0!3m2!1sen!2slk!4v1558922340259!5m2!1sen!2slk"
          width="500"
          height="200"
          frameborder="2"
          style="border:1px solid transparent; border-radius: 5px;"
        ></iframe>
      </div>
    </div>
    <hr />

    <div class="text-center">
      {{ footer.copyright }}
    </div>
  </div>
</footer>
