<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <!-- Icon Cards-->
      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
        <div class="inforide">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone">
              <img src="../../../../../../assets/images/baloons.svg" />
            </div>
            <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
              <h4>Halls</h4>
              <h2>2</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
        <div class="inforide">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridetwo">
              <img src="../../../../../assets/images/type.svg" />
            </div>
            <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
              <h4>Hall Types</h4>
              <h2>2</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
        <div class="inforide">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridethree">
              <img src="../../../../../assets/images/bookings.svg" />
            </div>
            <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
              <h4>Booked Today</h4>
              <h2><span class="badge badge-pill badge-danger">0</span></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
