<app-admin-nav></app-admin-nav>

<section id="team" class="pb-5">
  <div class="container">
    <h5 class="section-title h1">Edit Profile</h5>
    <div class="row">
      <div class="col-md-6">
        <img
          src="../../../../../../assets/images/update.svg"
          width="520px"
          height="720px"
          alt=""
        />
      </div>
      <div class="card">
        <div class="card-body">
          <div class="col-md-6">
            <img
              src="../../../../../../assets/images/favicon.JPG"
              class="avatar img-circle img-thumbnail"
              alt="avatar"
            />
            <h6>Upload New Photo</h6>
            <input type="file" class="text-center center-block file-upload" />
            <form (ngSubmit)="onSave()">
              <div class="form-group">
                <br />
                <label>First Name <strong class="req">*</strong> </label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter firstname"
                  value="Navindu"
                  required
                  id="firstName"
                />
              </div>
              <div class="form-group">
                <label>Last Name <strong class="req">*</strong></label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter lastname"
                  value="Jayatilake"
                  required
                  id="lastName"
                />
              </div>
              <div class="form-group">
                <label>Email <strong class="req">*</strong></label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter email"
                  value="navindu@habibihotels.com"
                  required
                  id="email"
                />
              </div>
              <div class="form-group">
                <label>Job Role <strong class="req">*</strong></label>
                <select
                  id="options"
                  class="form-control form-control-lg"
                  required
                >
                  <option>Restaurant Manager</option>
                  <option>Executive Chef</option>
                  <option>Event Planne</option>
                  <option>Housekeeping Supervisor</option>
                  <option>Front Desk Supervisor</option>
                  <option>Waiter/Waitress</option>
                  <option>Kitchen Manager</option>
                  <option>Front Desk Clerks</option>
                </select>
              </div>
              <div class="form-group">
                <label>Mobile Number <strong class="req">*</strong></label>
                <input
                  type="number"
                  class="form-control"
                  placeholder="Enter mobile number"
                  value="94765502873"
                  required
                  id="mobile"
                />
              </div>
              <input
                type="submit"
                value="Save Details"
                id="saveDetailsBtn"
                class="btn btn-dark"
              />
            </form>
          </div>
        </div>
      </div>
      &nbsp;&nbsp;
    </div>
  </div>
</section>

<app-footer></app-footer>
