a.active {
  background-color: #dae1e7 !important;
  border: 1px !important;
  border-radius: 10px !important;
}

.profilePic {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.navbar {
}
#navbar {
  overflow: hidden;
  /* position: fixed;
  z-index: 100;
  width: 100%;
  margin-top: 0%; */
}

#navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
