<app-header></app-header>

<div class="container" data-aos="fade-left">
    <div class="title">
            <h1>Previous Reservations</h1>
    </div>
    
    <div class="row">
        <div class="card col-sm-5">
            <div class="card-body">
                <h5 class="card-title">Delux</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <input type="button" class="btn btn-primary" value="Book Again">
            </div>
            <img src="../../../../../../assets/images/room3.jpg" class="card-img-top" alt="Room 3" routerLink="/home/check_availability">
        </div>
        <div class="col-sm-2"></div>
        <div class="card col-sm-5">
            <div class="card-body">
                <h5 class="card-title">Delux</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                <input type="button" class="btn btn-primary" value="Book Again" routerLink="/home/check_availability">
            </div>
            <img src="../../../../../../assets/images/room3.jpg" class="card-img-top" alt="Room 3">
        </div>
    </div>
</div>

<app-footer></app-footer>