<app-header></app-header>

<div style="float: left; margin-left: 50px">
<iframe width="670" height="680" src="//www.cincopa.com/media-platform/iframe.aspx?fid=A8OA0gerD4dh" frameborder="0" allowfullscreen scrolling="no"></iframe>
</div>
<div style="float: left; width: 600px" >
  <div style="background-color: dodgerblue; width: 300px">
      <h4 style="padding-left: 50px; padding-right: 30px; padding-bottom: 5px; padding-top: 5px; color: floralwhite">DELUXE ROOMS</h4>
    </div>
   <div style="padding:20px;">
   As the name implies, our Presidential Suite is the ultimate in luxury. Choose this suite for the perfect mix of luxury and residential-style features, such as a Kitchenette, Bar Counter, Dining Room and Lounge area, replete with all the amenities for a truly pampered stay.
dfdf</div>
<div style="padding:20px;">
  <table>
<tr><th class="tableR">CHECK IN</th><th>1400 hours</th></tr>
<tr><th class="tableR">CHECK OUT  </th><th>1200 hours</th></tr>
<tr><td class="tableR">No. of Rooms</td><td>5</td></tr>
<tr><td class="tableR">Location</td><td>3rd Floor</td></tr>
<tr><td class="tableR">Size of Room</td><td>43 m²</td></tr>
    </table>
  </div>
  </div>
