<div style="margin-left: 120px">
  <div style="width: 20%; float: left; ">
    <img style="width: 100%; height: 150px;" src="assets/images/room1.jpg" />
    <h4 class="text">DELUXE</h4>
    <p class="text">
      Experience the next level of luxury with our Deluxe Rooms.
    </p>
    <a href="user/reservation/room-list/desc">
      <button mat-raised-button color="primary">See More</button></a
    >
  </div>

  <div style="width: 20%;  float: left; margin-left: 20px">
    <img style="width: 100%; height: 150px;" src="assets/images/room2.jpg" />
    <h4 class="text">EXECUTIVE</h4>
    <p class="text">Our Standard HABIBI rooms are far from ‘basic’.</p>
    <a href="user/reservation/room-list/desc">
      <button mat-raised-button color="primary">See More</button></a
    >
  </div>

  <div style="width: 20%; float: left; margin-left: 20px">
    <img style="width: 100%; height: 150px;" src="assets/images/room3.jpg" />
    <h4 class="text">STANDARD</h4>
    <p class="text">More comfortable home <br />stay with family.</p>
    <a href="user/reservation/room-list/desc">
      <button mat-raised-button color="primary">See More</button></a
    >
  </div>

  <div style="width: 20%; float: left; margin-left: 20px">
    <img style="width: 100%; height: 150px;" src="assets/images/room4.jpg" />
    <h4 class="text">HONEYMOON SPECIAL</h4>
    <p class="text">
      couples who desire a spacious respite of romantic luxury.
    </p>
    <a href="user/reservation/room-list/desc">
      <button mat-raised-button color="primary">See More</button></a
    >
  </div>
</div>
