<app-header></app-header>
<div style="text-align: center; float: left; margin-left: 25%; width: 400px">
  <h2>[Hall type]</h2>
<img src="assets/images/hall1.jpg" style="width: 500px; float: left; clear: right"/>
<img src="assets/images/halldetail1.JPG" style="float: left;"/>
<p></p>
<h3 style="float: left;">Seating arrangement</h3>
<img src="assets/images/halldetail2.JPG" style="float: left;"/>
<p></p>
<b><p style="float: left;">Contact this number for reservations :<br> 077 867 57 98</p></b>
  </div>
