<div class="container animated bounceInRight">
  <div class="row">
    <div class="container" id="formContainer">
      <form class="form-signin " id="login" role="form">
        <h3 class="form-signin-heading">Make Reservation</h3>
        <a href="#" id="flipToRecover" class="flipLink">
          <div id="triangle-topright"></div>
        </a>
        <div class="input-group date">
          <select class="form-control" name="" id="">
            <option value="">Room</option>
            <option value="">Hall</option>
          </select>
          <div class="input-group-addon">
            <img
              src="../../../assets/images/confbed.svg"
              class="icons"
              alt=""
            />
          </div>
        </div>
        <br />
        <div class="input-group date" data-provide="datepicker">
          <input type="text" placeholder="Check in" class="form-control" />
          <div class="input-group-addon">
            <img
              src="../../../assets/images/calendar.svg"
              class="icons"
              alt=""
            />
          </div>
        </div>
        <br />
        <div class="input-group date" data-provide="datepicker">
          <input type="text" placeholder="Check out" class="form-control" />
          <div class="input-group-addon">
            <img
              src="../../../assets/images/calendar.svg"
              class="icons"
              alt=""
            />
          </div>
        </div>
        <br />
        <div class="input-group date">
          <select class="form-control" name="" id="">
            <option value="">Adults</option>
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
          </select>
          <div class="input-group-addon">
            <img src="../../../assets/images/adukt.svg" class="icons" alt="" />
          </div>
        </div>
        <br />
        <div class="input-group date">
          <select class="form-control" name="" id="">
            <option value="">Children</option>
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
          </select>
          <div class="input-group-addon">
            <img src="../../../assets/images/baby.svg" class="icons" alt="" />
          </div>
        </div>
        <br />

        <button class="btn btn-lg btn-info btn-block" type="submit">
          Search
        </button>
      </form>
    </div>
    <!-- /container -->
  </div>
</div>
