<h1>Contact Details</h1>
<br />
<img
  class="icons"
  src="../../../assets/images/phone.svg"
  alt=""
/>&nbsp;&nbsp;&nbsp;
<b class="details">+94112964049</b>
<br /><br />
<img
  class="icons"
  src="../../../assets/images/address.svg"
  alt=""
/>&nbsp;&nbsp;&nbsp;
<b class="details">
  77 Galle Rd, Colombo 00300 Sri Lanka
</b>
<br /><br />
<img
  class="icons"
  src="../../../assets/images/fb2.svg"
  alt=""
/>&nbsp;&nbsp;&nbsp;
<b class="details">
  <a href="www.facebook.com">Visit our Facebook</a>
</b>
<br /><br />
<img
  class="icons"
  src="../../../assets/images/instagram.svg"
  alt=""
/>&nbsp;&nbsp;&nbsp;
<b class="details">
  <a href="www.facebook.com">Visit our Instagram</a>
</b>
