<app-admin-nav></app-admin-nav>

<main data-router-wrapper>
  <section data-router-view="h_config" class="h_config">
    <div class="h_config-content">
      <div class="h_config-presentation">
        <div class="box">
          <div class="container">
            <h4>
              <small>
                <a class="spclLink" routerLink="/admin/dashboard">Dashboard</a>
              </small>
              /
              <small>
                <a class="spclLink" routerLink="/admin/dashboard/h_config"
                  >Hotel Configuration</a
                >
              </small>
              /
              <strong> Housekeeping Menu</strong>
            </h4>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="box-part text-center">
                  <img
                    class="dBoardImages"
                    src="../../../../assets/images/rm.svg"
                    alt="pic"
                  />

                  <div class="title">
                    <h4>Rooms</h4>
                  </div>

                  <div class="text">
                    <span>Housekeeping status of rooms</span>
                  </div>

                  <a
                    routerLink="/admin/dashboard/h_config/housekeeping"
                    class="btn btn-dark configBtn"
                    role="button"
                    >Edit</a
                  >
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="box-part text-center">
                  <img
                    class="dBoardImages"
                    src="../../../../assets/images/broom.svg"
                    alt="pic"
                  />

                  <div class="title">
                    <h4>Halls</h4>
                  </div>

                  <div class="text">
                    <span>Housekeeping status of halls.</span>
                  </div>

                  <a
                    class="btn btn-dark configBtn"
                    routerLink="/admin/dashboard/h_config/housekeeping_menu/housekeeping_halls"
                    role="button"
                    >Edit</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
