<div class="container register">
  <div class="row">
    <div class="col-md-6">
      <h1 class="text-center">Welcome to Admin Panel</h1>
      <h3 class="text-center">Hotel Habibi</h3>

      <form>
        <div class="form-group">
          <label>Username</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter username"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
          />
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
        <br />
        <br />
        <p>Don't have an account?</p>
        <a class="rlink" routerLink="/admin/register">Register here</a>
      </form>
    </div>
    <div class="col-md-5">
      <img
        src="../../../../../assets/images/admin2.svg"
        height="300"
        width="550px"
        alt="picture"
      />
    </div>
  </div>
</div>
