h1,
h3 {
  color: #240041;
  font-weight: 600;
}
.form-content {
  padding: 5%;
  border: 1px solid #ced4da;
  margin-bottom: 2%;
}
.form-control {
  border-radius: 1.5rem;
}
.register {
  background: #eaf5ff;
  margin-top: 3%;
  padding: 3%;
  border-radius: 20px;
}

.btn-primary {
  background-color: #05004e;
  width: 100px;
}

.rlink {
  color: blue;
}
