<app-adminheader></app-adminheader>
<div class="container register">
  <div class="row">
    <div class="col-md-6">
      <h1 class="text-center">Welcome to Admin Panel</h1>
      <h3 class="text-center">Hotel Habibi</h3>

      <form (ngSubmit)="onLogin()">
        <div class="form-group">
          <label>Username</label>
          <input
            id="username"
            name="username"
            type="text"
            class="form-control"
            placeholder="Enter username"
            required
            [(ngModel)]="adminLogin.username"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            id="password"
            name="password"
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
            [(ngModel)]="adminLogin.password"
          />
        </div>
        <br />
        <button style="width:170px" type="submit" class="btn btn-primary">
          Login
        </button>

        <br />
      </form>
    </div>
    <div class="col-md-5">
      <img
        src="../../../../../assets/images/admin2.svg"
        height="300"
        width="550px"
        alt="picture"
      />
    </div>
  </div>
</div>

<app-footer></app-footer>
