<app-header></app-header>
<br />
<h1 id="offers" class="text-center">Exclusive Offers</h1>
<div class="container">
  <div class="container mb-5 mt-5">
    <br />

    <br />
    <div class="pricing card-deck flex-column flex-md-row mb-3">
      <div class="card card-pricing text-center px-3 mb-4">
        <span
          class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm"
          >GOLD</span
        >
        <div class="bg-transparent card-header pt-4 border-0">
          <img
            src="../../../assets/images/dine.jpg"
            height="200px"
            width="250px"
            alt=""
          />
        </div>
        <div class="card-body pt-0">
          <ul class="list-unstyled mb-4">
            <li>
              <!---->
              <p>
                Limited Time Full Board Offer
              </p>
            </li>
            <li><h5 class="date">2019-06-08</h5></li>
            <li></li>
            <li>
              <h1
                class="h1 font-weight-normal text-primary text-center mb-0"
                data-pricing-value="15"
              >
                <span class="h6 text-muted ml-2"
                  >From
                  <h4 style="text-decoration: line-through">$500</h4></span
                >
                $<span class="price">400</span>
              </h1>
            </li>
          </ul>
          <a
            href="https://www.totoprayogo.com"
            target="_blank"
            class="btn btn-primary mb-3"
            >SELECT OFFER</a
          >
        </div>
      </div>
      <div class="card card-pricing popular shadow text-center px-3 mb-4">
        <span
          class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm"
          >PLATINUM</span
        >
        <div class="bg-transparent card-header pt-4 border-0">
          <h1
            class="h1 font-weight-normal text-primary text-center mb-0"
            data-pricing-value="30"
          >
            <img
              src="../../../assets/images/spool.jpg"
              height="200px"
              width="250px"
              alt=""
            />
          </h1>
        </div>
        <div class="card-body pt-0">
          <ul class="list-unstyled mb-4">
            <li>
              <!---->
              <p>
                Limited Time Full Board Offer
              </p>
            </li>
            <li><h5 class="date">2019-06-08</h5></li>
            <li></li>
            <li>
              <h1
                class="h1 font-weight-normal text-primary text-center mb-0"
                data-pricing-value="15"
              >
                <span class="h6 text-muted ml-2"
                  >From
                  <h4 style="text-decoration: line-through">$699</h4></span
                >
                $<span class="price">500</span>
              </h1>
            </li>
          </ul>
          <a routerLink="/user/payment/invoice" class="btn btn-primary mb-3"
            >SELECT OFFER</a
          >
        </div>
      </div>
      <div class="card card-pricing text-center px-3 mb-4">
        <span
          class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm"
          >SILVER</span
        >
        <div class="bg-transparent card-header pt-4 border-0">
          <img
            src="../../../assets/images/cpl.png"
            height="200px"
            width="250px"
            alt=""
          />
        </div>
        <div class="card-body pt-0">
          <ul class="list-unstyled mb-4">
            <li>
              <!---->
              <p>
                Limited Time Full Board Offer
              </p>
            </li>
            <li><h5 class="date">2019-06-08</h5></li>
            <li></li>
            <li>
              <h1
                class="h1 font-weight-normal text-primary text-center mb-0"
                data-pricing-value="15"
              >
                <span class="h6 text-muted ml-2"
                  >From
                  <h4 style="text-decoration: line-through">$300</h4></span
                >
                $<span class="price">250</span>
              </h1>
            </li>
          </ul>
          <a
            href="https://www.totoprayogo.com"
            target="_blank"
            class="btn btn-primary mb-3"
            >SELECT OFFER</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
