.error-404 {
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
}
.error-404 .error-code {
  bottom: 60%;
  color: #4686cc;
  font-size: 96px;
  line-height: 100px;
  font-weight: bold;
}
.error-404 .error-desc {
  font-size: 12px;
  color: #647788;
}
.error-404 .m-b-10 {
  margin-bottom: 10px !important;
}
.error-404 .m-b-20 {
  margin-bottom: 20px !important;
}
.error-404 .m-t-20 {
  margin-top: 20px !important;
}

.img {
  height: 350px;
  width: 350px;
}

.btn {
  background-color: black !important;
}

h1 {
  color: #647788;
}
