<div class="error-404">
  <div class="error-code m-b-10 m-t-20">
    <img class="img" src="../../../assets/images/404.svg" alt="picture" />
  </div>
  <h1 class="font-bold">Oops! This page can not be found.</h1>

  <div class="error-desc">
    <br />
    <div>
      <br />
      <!-- <a class=" login-detail-panel-button btn" href="http://vultus.de/"> -->
      <a routerLink="/home" class="btn btn-primary"
        ><span class="glyphicon glyphicon-home"></span> Go back to Homepage</a
      >
    </div>
  </div>
</div>
