/* .example-container {
    display: flex;
    flex-direction: column;
  } */
  
  .example-container > * {
    width: 100%;
    margin-top: 2%;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  .form-content {
    padding: 5%;
    border: 1px solid #ced4da;
    border-radius: 1.5rem;
    /* margin-top: 2%; */
    width: 100%;
    background-color: honeydew;
  }
  .form-control {
    border-radius: 1.5rem;
    margin-top: 2%;
  }
  
  .logo{
    align-content: center;
  }


  