<app-header></app-header>
<div class="container">
  <div>
    <form class="form-content">
      <div class="logo">
        <!-- <h1 class="heading">Login to Habibi</h1> -->
        <img class="logo" src="../../../../../assets/images/loginLogo.png" />
      </div>
      <div class="row">
        <div class="example-container col-sm-5">
          <mat-form-field>
            <input
              id="uname"
              type="email"
              matInput
              placeholder="Enter your Email"
              required
            />
          </mat-form-field>

          <mat-form-field>
            <input
              id="upass"
              type="password"
              matInput
              placeholder="Enter your password"
              required
            />
          </mat-form-field>
          <br />
          <input
            type="button"
            class="btn btn-success"
            value="Login"
            onclick="onLogin()"
          />
          <br /><br />
          <input type="reset" class="btn btn-danger" value="Clear" />
          <br /><br />
          <p id="test"></p>
          <a routerLink="../forgot_password">Forgot password?</a><br />
          <a style="color: blue" routerLink="../register"
            >Don't have an account?</a
          >
        </div>

        <div class="col-sm-5">
          <img
            src="../../../../../assets/images/ulogin.svg"
            height="300"
            width="550px"
            alt="picture"
          />
        </div>
      </div>
    </form>
  </div>
</div>
