<app-header></app-header>
<div class="container">
  <div data-aos="fade-left">
    <form class="form-content" (ngSubmit)="onLogin()">
      <div class="logo" data-aos="fade-right">
        <!-- <h1 class="heading">Login to Habibi</h1> -->
        <img class="logo" src="../../../../../assets/images/loginLogo.png" />
      </div>
      <div class="row">
        <div class="example-container col-sm-5">
          <mat-form-field>
            <input id="uname" type="email" name="username" matInput placeholder="Enter your Email" required
              [(ngModel)]="login.username" />
          </mat-form-field>

          <mat-form-field>
            <input id="upwd" type="password" name="passwords" matInput placeholder="Enter your password" required
              [(ngModel)]="login.password" />
          </mat-form-field>
          <br />
          <button class="btn btn-success" type="submit">Login</button>
          <br /><br />
          <input type="reset" class="btn btn-danger" value="Clear" id="btnLReset" />
          <br /><br />
          <p id="test"></p>
          <a routerLink="../forgot_password">Forgot password?</a><br />
          <a style="color: blue" routerLink="../register">Don't have an account?</a>
        </div>

        <div class="col-sm-5">
          <img src="../../../../../assets/images/ulogin.svg" height="300" width="550px" alt="picture" />
        </div>
      </div>
    </form>
  </div>
</div>


<!-- <div class="container">
    <div class="col-md-6 col-md-offset-3 loginBox">
        <h3>Log In</h3>
        <p *ngIf="message" class="text-center error">{{message}}</p>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="form-group clearfix" [ngClass]="{ 'has-error': submitted && f.uname.errors }">
              <label for="uname" class="col-md-3 col-sm-5 col-xs-12">Userid</label>
              <div class="col-md-9 col-sm-7 col-xs-12">
                  <input type="text" class="form-control" formControlName="uname" />
                  <div *ngIf="submitted && f.uname.errors" class="help-block">
                        <div *ngIf="f.uname.errors.required">Userid is required</div>
                  </div>
              </div>
          </div>
          <div class="form-group clearfix" [ngClass]="{ 'has-error': submitted && f.upwd.errors }">
            <label for="upwd" class="col-md-3 col-sm-5 col-xs-12">Password</label>
            <div class="col-md-9 col-sm-7 col-xs-12">
                <input type="password" class="form-control" formControlName="upwd"/>
                <div *ngIf="submitted && f.upwd.errors" class="help-block">
                        <div *ngIf="f.upwd.errors.required">Password is required</div>
                </div>
            </div>
          </div>
          <div class="col-xs-12 form-group text-right">
            <button class="btn btn-success" type="submit">Login</button>
          </div>
      </form>
    </div>
</div> -->
<app-footer></app-footer>