<app-header></app-header>
<div style="margin-left: 150px">
<div style="float: left; width: 60%; background-color: antiquewhite">
  <h2>Choose your room</h2>

  <!--deluxe room-->
    <div style="float: left; border: black; clear: right">
        <h4>DELUXE</h4>
        <img src="assets/images/room1.jpg" style="width: 100%; height: 400px; margin-bottom: 20px"/>
        <div style="float: left">
        <a href="user/reservation/room-list/desc"><h5 style="text-align: center">READ MORE</h5></a>
        </div>
        <div style="float: right; clear: right">
          <div style="float: left; margin-right: 30px">
            <h5>1 night<br/>
          2 Adult 1 Children</h5>
          </div>
          <div style="float: left;">
              <h4>400$</h4>
            </div>
            <div style="float: left; clear: left">
        <button onclick="select1()" class="select"> SELECT</button>
        </div>
    </div>
</div>
    <!--EXECUTIVE room-->
    <div style="float: left; border: black; margin-top: 30px; clear: right">
        <h4>EXECUTIVE</h4>
        <img src="assets/images/room2.jpg" style="width: 100%; height: 400px; margin-bottom: 20px"/>
        <div style="float: left">
        <a href="user/reservation/room-list/desc"><h5 style="text-align: center">READ MORE</h5></a>
        </div>
        <div style="float: right; clear: right">
          <div style="float: left; margin-right: 30px">
            <h5>1 night<br/>
              2 Adult 1 Children</h5>
          </div>
          <div style="float: left;">
              <h4>200$</h4>
            </div>
            <div style="float: left; clear: left">
        <button onclick="select2()" class="select"> SELECT</button>
        </div>
    </div>
    </div>

    <!--STANDARD room-->
    <div style="float: left; border: black; margin-top: 30px; clear: right">
        <h4>STANDARD</h4>
        <img src="assets/images/room3.jpg" style="width: 100%; height: 400px; margin-bottom: 20px"/>
        <div style="float: left">
        <a href="user/reservation/room-list/desc"><h5 style="text-align: center">READ MORE</h5></a>
        </div>
        <div style="float: right; clear: right">
          <div style="float: left; margin-right: 30px">
            <h5>1 night<br/>
              2 Adult 1 Children</h5>
          </div>
          <div style="float: left;">
              <h4>100$</h4>
            </div>
            <div style="float: left; clear: left">
        <button onclick="select3()" class="select"> SELECT</button>
        </div>
    </div>
</div>
    <!--HOneymoon room-->
    <div style="float: left; border: black; margin-top: 30px; clear: right">
        <h4>HONETMOON SPECIAL</h4>
        <img src="assets/images/room4.jpg" style="width: 100%; height: 400px; margin-bottom: 20px"/>
        <div style="float: left">
        <a href="user/reservation/room-list/desc"><h5 style="text-align: center">READ MORE</h5></a>
        </div>
        <div style="float: right; clear: right">
          <div style="float: left; margin-right: 30px">
            <h5>1 night<br/>
              2 Adult 1 Children </h5>
          </div>
          <div style="float: left;">
              <h4>300$</h4>
            </div>
            <div style="float: left; clear: left">
        <button onclick="select4()" class="select"> SELECT</button>
        </div>
    </div>

</div>
  </div>
</div>
  <div class="right" style="background-color:dodgerblue">
      <div>
      <table>
        <tr style="padding-top: 40px"><th style=" padding-left: 10px; padding-right: 40px"><h3>Total:</h3></th>
            <td><h3 id="amount">600$</h3></td>
        </tr>
        </table>
        </div>
        <div style="height: 70px; width: 295px; text-align: center; background-color: blanchedalmond">
          <table>
            <tr><td>DELUXE</td><td>3 persons</td><td>400$</td></tr>
            <tr><td></td><td></td><td><a href="#"><p>Remove</p></a></td></tr>
          </table>
          </div>
          <p></p>
          <div style="height: 70px; width: 295px; text-align: center; background-color: blanchedalmond">
              <button type="button" style="display: none;" id="i">Remove</button>
            <table>
                <tr><td>EXECUTIVE</td><td>3 persons</td><td>200$</td></tr>
                <tr><td></td><td></td><td><a href="#"><p>Remove</p></a></td></tr>
              </table>
              </div>

          <div>
              <button routerLink="/user/payment" class="next"> NEXT</button>
          </div>
</div>
