<footer class="footer">
  <ul class="social-icon">
    <a href="https://mtouch.facebook.com/login/" target="blank" class="social"
      ><i class="fa fa-facebook" aria-hidden="true"></i
    ></a>
    <a href="https://twitter.com/login" target="blank" class="social"
      ><i class="fa fa-twitter" aria-hidden="true"></i
    ></a>
    <a href="https://www.instagram.com/accounts/login/" target="blank" class="social"
      ><i class="fa fa-instagram" aria-hidden="true"></i
    ></a>
  </ul>
</footer>
