<footer class="footer">
  <ul class="social-icon">
    <a href="https://mtouch.facebook.com/login/" target="blank" class="social">
      <img
        src="../../../../assets/images/Facebook.svg"
        class="socialIcon"
        alt=""
      />
    </a>
    <a href="https://twitter.com/login" target="blank" class="social"
      ><img
        src="../../../../assets/images/Twitter (1).svg"
        class="socialIcon"
        alt=""
    /></a>
    <a
      href="https://www.instagram.com/accounts/login/"
      target="blank"
      class="social"
      ><img
        src="../../../../assets/images/instagram.svg"
        class="socialIcon"
        alt=""
    /></a>
  </ul>
</footer>
