<app-header></app-header>
<div class="container profile-content">
    <h1 class="heading">Profile Management</h1>
  <div class="row">
      
    <!-- <section id="team" class="pb-5"> -->
        
        <div class="container pb-5 ">
          
          <div class="row">
            <div class="col-sm-12">
              <div class="image-flip">
                <div class="mainflip">
                  <div class="frontside">
                    <div class="card">
                      <div class="card-body text-center">
                        <p>
                          <img
                            class=" img-fluid"
                            src="../../../../../assets/images/person_3.jpg"
                            alt="card image"
                          />
                        </p>
                        <h4 class="card-title">Ravi Edmond</h4>
                        <!-- <p class="card-text">
                          Customer
                        </p>
                        <p class="card-text">
                          ravi@gmail.com
                        </p>
                        <p class="card-text">
                          +94765502873
                        </p>
                        
                        <p>
                          DOB: 12/12/1990
                        </p> -->
                        
                        <table class="center">
                          <tr>
                            <td >
                              Email
                            </td>
                            <td> : </td>
                            <td >
                              ravi@gmail.com
                            </td>
                          </tr>
                          <tr>
                            <td >
                              Mobile
                            </td >
                            <td> : </td>
                            <td >
                              0771234567
                            </td>
                          </tr>
                          <tr>
                            <td >
                              DOB
                            </td>
                            <td> : </td>
                            <td >
                              12/12/1990
                            </td>
                          </tr>
                        </table>
                        <br>

                        <a
                          routerLink="edit_profile"
                          class="btn btn-dark"
                          role="button"
                          >Edit Profile</a
                        >
                        <br><br>
                        <a routerLink="previous_reservations" class="btn btn-dark" role="button">Past Reservation</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-sm-4">
              <img src="../../../../../assets/images/bgProfile.svg" height="200"
              width="450px">
            </div> -->
          </div>
          
        </div>
      <!-- </section> -->
      
      </div>
</div>
<app-footer></app-footer>
