<div class="site-section">
  <div class="container">
    <section class="fdb-block">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-10 col-sm-6 col-md-5 col-lg-4 m-auto pb-5 pb-md-0">
            <img
              alt="image"
              height="350px"
              width="350px"
              class="fdb-icon"
              src="../../../assets/images/auth.svg"
            />
          </div>

          <div class="col-12 ml-md-auto col-md-7 col-lg-6 pb-5 pb-md-0">
            <h1>Don't Have an Account?</h1>
            <p class="lead">
              Make an account and make a reservation today! Join with us and
              feel the luxury!
            </p>
            <p class="mt-4">
              <a class="btn btn-dark ml-3" routerLink="/user/register"
                >Register Now</a
              >
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
