<app-admin-nav></app-admin-nav>

<div class="box">
  <div class="container">
    <h4>
      <app-analytics></app-analytics>
      <app-halls-analytics></app-halls-analytics>
      <br />

      <br />
      <mat-card>
        <span class="badge badge-primary">Fliter Bookings</span>
        <form class="form-inline">
          <div class="form-group mx-sm-3  mb-2">
            <mat-form-field>
              <mat-label>Room type</mat-label>
              <mat-select [(value)]="selectedRoom">
                <mat-option>All</mat-option>
                <mat-option value="option1">Standard</mat-option>
                <mat-option value="option2">Executive</mat-option>
                <mat-option value="option3">Honeymoon Special</mat-option>
                <mat-option value="option3">Deluxe</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          &nbsp;&nbsp;&nbsp;
          <div class="form-group mx-sm-3 mb-2">
            <input
              placeholder="Check in
            "
              class="form-control"
              type="text"
              onfocus="(this.type = 'date')"
              id="date"
            />
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <input
              placeholder="Check out"
              class="form-control"
              type="text"
              onfocus="(this.type = 'date')"
              id="date"
            />
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <input
              placeholder="Booking date"
              class="form-control"
              type="text"
              onfocus="(this.type = 'date')"
              id="date"
            />
          </div>
          &nbsp;&nbsp;&nbsp;
          <div class="form-group mx-sm-3 mb-2">
            <mat-form-field>
              <mat-label>Hall type</mat-label>
              <mat-select [(value)]="selectedHall">
                <mat-option value="succ">Winchester</mat-option>
                <mat-option value="pend">King Court</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          &nbsp;&nbsp;&nbsp;
          <div class="form-group mx-sm-3 mb-2">
            <mat-form-field>
              <mat-label>Booking</mat-label>
              <mat-select [(value)]="selectedBooking">
                <mat-option value="succ">Success</mat-option>
                <mat-option value="pend">Pending</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          &nbsp;&nbsp;&nbsp;
          <div class="form-group mx-sm-3 mb-2">
            <mat-form-field>
              <mat-label>Payment</mat-label>
              <mat-select [(value)]="selectedPayment">
                <mat-option value="succ">Success</mat-option>
                <mat-option value="pend">Pending</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
      </mat-card>
      <br />

      <small> <a routerLink="/admin/dashboard">Dashboard</a> </small> /
      <small>
        <a routerLink="/admin/dashboard/h_config">Hotel Configuration</a>
      </small>
      /
      <strong>Bookings </strong>
      <!-- <button
        type="button"
        data-toggle="modal"
        class="btn btn-dark float-right"
        data-target="#addRoom"
      >
        + ADD
      </button> -->
      <div class="float-right"><app-search></app-search></div>

      <div class="modal fade" id="addRoom" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <!-- <div class="modal-content">
            <div class="modal-header">
              <h3>Booking form</h3>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
            <div class="modal-body"></div>
          </div> -->
        </div>
      </div>
    </h4>
    <br />
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <th>#</th>
              <th>Booking No</th>
              <th>Customer Name</th>
              <th>Room/Hall</th>
              <th>Check in</th>
              <th>Check out</th>
              <th>Booking Date</th>
              <th>Payment Status</th>
              <th>Booking Status</th>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>
                  <a routerLink="/admin/dashboard/bookings/single_booking"
                    >196552</a
                  >
                </td>
                <td>Maleesha Wijeratne</td>
                <td>Executive</td>
                <td>05/09/2019</td>
                <td>05/10/2019</td>
                <td>05/09/2019 21:30</td>
                <td>
                  <span class="badge badge-pill badge-success">Success</span>
                </td>
                <td>
                  <span class="badge badge-pill badge-danger">Pending</span>
                </td>
              </tr>

              <tr>
                <td>2</td>
                <td><a href="#">199638</a></td>
                <td>Navindu Jayatilake</td>
                <td>Executive</td>
                <td>05/01/2019</td>
                <td>05/03/2019</td>
                <td>05/09/2019 17:50</td>
                <td>
                  <span class="badge badge-pill badge-success">Success</span>
                </td>
                <td>
                  <span class="badge badge-pill badge-success">Success</span>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td><a href="#">198711</a></td>
                <td>John Cena</td>
                <td>Executive</td>
                <td>05/04/2019</td>
                <td>05/05/2019</td>
                <td>05/09/2019 20:30</td>
                <td>
                  <span class="badge badge-pill badge-success">Success</span>
                </td>
                <td>
                  <span class="badge badge-pill badge-success">Success</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
