<app-admin-nav></app-admin-nav>

<section id="team" class="pb-5">
  <div class="container">
    <h5 class="section-title h1">Profile Management</h5>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="image-flip">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class=" img-fluid"
                      src="../../../../../assets/images/favicon.JPG"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Navindu Jayatilake</h4>
                  <p class="card-text">
                    Restaurant Manager
                  </p>
                  <p class="card-text">
                    navindu@gmail.com
                  </p>
                  <p class="card-text">
                    +94765502873
                  </p>
                  <a
                    routerLink="/admin/update"
                    class="btn btn-dark"
                    role="button"
                    >Edit Profile</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-admin-footer></app-admin-footer>
