<app-admin-nav></app-admin-nav>

<main data-router-wrapper>
  <section data-router-view="h_config" class="h_config">
    <div class="h_config-content">
      <div class="h_config-presentation">
        <div class="box">
          <div class="container">
            <h4>
              <small>
                <a id="dbLink" routerLink="/admin/dashboard">Dashboard</a>
              </small>
              /
              <strong>Hotel Configuration</strong>
            </h4>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                  <img
                    class="dBoardImages"
                    src="../../../../assets/images/rm.svg"
                    alt="pic"
                  />

                  <div class="title">
                    <h4>Room Types</h4>
                  </div>

                  <div class="text">
                    <span>Add Room Types and Edit details</span>
                  </div>

                  <a
                    routerLink="/admin/dashboard/h_config/room_types"
                    class="btn btn-dark configBtn"
                    role="button"
                    >Edit</a
                  >
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                  <img
                    class="dBoardImages"
                    src="../../../../assets/images/rm.svg"
                    alt="pic"
                  />

                  <div class="title">
                    <h4>Rooms</h4>
                  </div>

                  <div class="text">
                    <span>Add and Edit Rooms and Room details</span>
                  </div>

                  <a
                    class="btn btn-dark configBtn"
                    routerLink="/admin/dashboard/h_config/rooms"
                    role="button"
                    >Edit</a
                  >
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                  <img
                    class="dBoardImages"
                    src="../../../../assets/images/baloons.svg"
                    alt="pic"
                  />

                  <div class="title">
                    <h4>Hall Types</h4>
                  </div>

                  <div class="text">
                    <span>Add Hall Types and Edit details</span>
                  </div>

                  <a
                    class="btn btn-dark configBtn"
                    routerLink="/admin/dashboard/h_config/hall_types"
                    role="button"
                    >Edit</a
                  >
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                  <img
                    class="dBoardImages"
                    src="../../../../assets/images/baloons.svg"
                    alt="pic"
                  />

                  <div class="title">
                    <h4>Halls</h4>
                  </div>

                  <div class="text">
                    <span>Add and Edit Halls and Hall details</span>
                  </div>

                  <a
                    class="btn btn-dark configBtn"
                    routerLink="/admin/dashboard/h_config/hall"
                    role="button"
                    >Edit</a
                  >
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                  <img
                    class="dBoardImages"
                    src="../../../../assets/images/bar.svg"
                    alt="pic"
                  />

                  <div class="title">
                    <h4>Amenities</h4>
                  </div>

                  <div class="text">
                    <span>Add and Edit Aminities</span>
                  </div>

                  <a
                    class="btn btn-dark configBtn"
                    routerLink="/admin/dashboard/h_config/amenities"
                    role="button"
                    >Edit</a
                  >
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                  <img
                    class="dBoardImages"
                    src="../../../../assets/images/broom.svg"
                    alt="pic"
                  />

                  <div class="title">
                    <h4>Housekeeping Status</h4>
                  </div>

                  <div class="text">
                    <span>Add and Edit Housekeeping Status</span>
                  </div>

                  <a
                    class="btn btn-dark configBtn"
                    routerLink="/admin/dashboard/h_config/housekeeping"
                    role="button"
                    >Edit</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
