<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <b> Hotel HABIBI <small class="strong">ADMIN PANEL</small> </b></a
  >
  <a
    class="navbar-brand hvr-underline-from-left"
    id="dashboard"
    routerLink="/admin/dashboard"
  >
    <b> <small class="dashboard">Dashboard</small> </b></a
  >
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <p class="nav-link">
          <img
            src="../../../../assets/images/favicon.JPG"
            class="profilePic"
            alt="pic"
          />
          &nbsp;
          <a id="user" routerLink="/admin/dashboard/edit_profile"
            >Hi, Navindu Jayatilake</a
          >
        </p>
      </li>

      <li class="nav-item">
        <div *ngIf="status == 'true'; then logout; else login"></div>
        <ng-template #login>
          <a
            role=" button"
            class="btn btn-primary authBtn"
            routerLink="/admin/login"
            >Login</a
          >
        </ng-template>
        <ng-template #logout>
          <a
            role=" button"
            class="btn btn-primary authBtn"
            href="javascript:void(0)"
            (click)="cLogout()"
          >
            Logout</a
          >
        </ng-template>
      </li>
    </ul>
  </div>
</nav>
