.btn {
  margin-top: 5px;
}

#navbarSupportedContent {
  margin-top: 5px;
}

.strong {
  color: red;
}

.profilePic {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#user {
  color: white !important;
  padding-top: 30px !important;
}

.authBtn {
  margin-top: 15px !important;
  background-color: white !important;
  color: black;
  text-align: center;
}
