<div class="site-section ">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto text-center mb-5 section-heading">
        <h2 class="mb-5">Our Rooms</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-5" data-aos="zoom-in">
        <div class="hotel-room text-center ">
          <a routerLink="." class="d-block mb-0 thumbnail"
            ><img src="./assets/images/img_1.jpg" alt="Image" class="img-fluid"
          /></a>
          <div class="hotel-room-body">
            <h3 class="heading mb-0"><a routerLink=".">Standard Room</a></h3>
            <strong class="price">$350.00 / per night</strong>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5" data-aos="zoom-in">
        <div class="hotel-room text-center">
          <a routerLink="." class="d-block mb-0 thumbnail"
            ><img src="./assets/images/img_2.jpg" alt="Image" class="img-fluid"
          /></a>
          <div class="hotel-room-body">
            <h3 class="heading mb-0"><a routerLink=".">Family Room</a></h3>
            <strong class="price">$400.00 / per night</strong>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5" data-aos="zoom-in">
        <div class="hotel-room text-center">
          <a href="" class="d-block mb-0 thumbnail"
            ><img src="./assets/images/img_3.jpg" alt="Image" class="img-fluid"
          /></a>
          <div class="hotel-room-body">
            <h3 class="heading mb-0"><a routerLink=".">Single Room</a></h3>
            <strong class="price">$255.00 / per night</strong>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5" data-aos="zoom-in">
        <div class="hotel-room text-center">
          <a routerLink="." class="d-block mb-0 thumbnail"
            ><img src="./assets/images/img_1.jpg" alt="Image" class="img-fluid"
          /></a>
          <div class="hotel-room-body">
            <h3 class="heading mb-0"><a routerLink=".">Deluxe Room</a></h3>
            <strong class="price">$150.00 / per night</strong>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5" data-aos="zoom-in">
        <div class="hotel-room text-center">
          <a routerLink="." class="d-block mb-0 thumbnail"
            ><img src="./assets/images/img_2.jpg" alt="Image" class="img-fluid"
          /></a>
          <div class="hotel-room-body">
            <h3 class="heading mb-0"><a routerLink=".">Luxury Room</a></h3>
            <strong class="price">$200.00 / per night</strong>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5" data-aos="zoom-in">
        <div class="hotel-room text-center">
          <a routerLink="." class="d-block mb-0 thumbnail"
            ><img src="./assets/images/img_3.jpg" alt="Image" class="img-fluid"
          /></a>
          <div class="hotel-room-body">
            <h3 class="heading mb-0"><a routerLink=".">Single Room</a></h3>
            <strong class="price">$155.00 / per night</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
