<app-header></app-header>
<div class="container">
  <div>
    <form class="form-content">
        <div>
          <img class="logo" src="../../../../../assets/images/fPassLogo.png">

        </div>
        <div class="row">
          <div class="example-container col-sm-5"> 
            <mat-form-field>
                <input id="uname" type="email" matInput placeholder="Enter your Email" required>
            </mat-form-field>

            <mat-form-field>
              <input id="newpass" type="password" matInput placeholder="Enter new password" required>
            </mat-form-field>

            <mat-form-field>
              <input id="confpass" type="password" matInput placeholder="Confirm password" required>
            </mat-form-field>
            <br><br>
            <input type="button" class="btn btn-success" value="Change Password">
            <br><br>
            <input type="reset" class="btn btn-danger" value="Clear">
            <br><br>
            <a routerLink = "../login">Back to Login</a>
            
          </div>

          <div class="col-sm-5">
              <img
                src="../../../../../assets/images/forgotPass.svg"
                height="300"
                width="550px"
                alt="picture"
              />
          </div>
        </div>
    </form>
  </div>
  
</div>
<app-footer></app-footer>

