<app-adminheader></app-adminheader>
<div class="container register">
  <div class="row">
    <div class="col-md-6">
      <h1 class="text-center">Welcome to Admin Panel</h1>
      <h3 class="text-center">Hotel Habibi</h3>

      <form>
        <div class="form-group">
          <label for="exampleInputEmail1"
            >First Name<small class="star">*</small></label
          >
          <input
            type="text"
            class="form-control"
            placeholder="Enter firstname"
            required
          />
        </div>
        <div class="form-group">
          <label>Last Name<small class="star">*</small></label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter lastname"
            required
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1"
            >Email<small class="star">*</small>
          </label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter email"
            required
          />
        </div>
        <div class="form-group">
          <label>Password<small class="star">*</small></label>
          <input
            type="password"
            class="form-control"
            placeholder="Enter password"
            required
          />
        </div>
        <div class="form-group">
          <label>Confirm Password<small class="star">*</small></label>
          <input
            type="password"
            class="form-control"
            placeholder="Confirm password"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
        <br />
        <br />
        <p>Already have an account?</p>
        <a class="rlink" routerLink="/admin/login">Login here</a>
      </form>
    </div>
    <div class="col-md-5">
      <img
        src="../../../../../assets/images/admin_reg.svg"
        height="300"
        width="550px"
        alt="picture"
        class="adminReg"
      />
    </div>
  </div>
</div>
